.about {
    display: inline-block;
    justify-content: center;
  }
  
  .about img {
    image-rendering: auto;
    padding: 1.5%;
    border-radius: 30%;
  }
  
  .about-content {
    box-shadow: 0 10px 30px 0 rgb(3, 3, 1);
    margin: auto;
    width: 55%;
    border: 2px solid rgba(138, 136, 205, 0.577);
    font-size: large;
    font-weight: 400;
    padding: 2%;
    font-family: system-ui;
    padding-bottom: 4%;
    margin-bottom: 4%;
    background: linear-gradient(to bottom, #796cb6 0%, #cbcfd2aa 100%);
  }
  
  .arrow{
    position: sticky;
    transform: translate(50%,85%);
  }
  .arrow span{
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid #ffffff;
    border-right: 5px solid #704fd3;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
  }
  .arrow span:nth-child(2){
    animation-delay: -0.2s;
  }
  .arrow span:nth-child(3){
    animation-delay: -0.4s;
  }
  @keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
  }
  